---
import Footer from '../component/Footer.astro';
import Header from '../component/Header.astro';
import '../style/global.css';
const name = "Sadmnan Sakib";


const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
---

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
  </head>

  <body>
 
<Header/>
<h1>{pageTitle}</h1>
<h1>{identity.firstName}</h1>

<p>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[2]}</p>
{happy && <p>Manna vai</p>}

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>
  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => (<li>{skill}</li>))}
  </ul>
  <Footer/>

 <script>
    import "../scripts/menu.js";
  </script>
  </body>
</html>
